#box{
    background-color: white;
    margin: 15px;
    height: auto;
    width: 100%;
    max-width: 750px;
    box-shadow: 0px 0px 5px 1px grey;
    padding:5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.project-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    margin-bottom: 20px; /* Space below the box */
    width: 400px;
}

.tech-icons img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    margin-right: 5px;
}

.github-link {
    margin-left: auto; /* Pushes the link to the right */
    text-decoration: none;
    color: #007bff; /* Bootstrap's link color for reference */
}

.tooltip-icon {
    color: #666; /* Dark grey color for the icon */
    cursor: help; /* Indicates an interactive item */
}

#section1{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center; 
    justify-content: center;
}

#section2{
    display: none;
    justify-content: center;
    flex-wrap: nowrap;
}
#scoreCounter{
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    display: none;
    margin-top: 15px;
}

#chooseCategory, #username{

    margin-bottom: 25px;
    padding: 10px;
    border-left: 5px solid #04AA6D;
    border-bottom: 1px solid #04AA6D;
    border-top: 1px solid #04AA6D;
    border-right: 5px solid #04AA6D;
    border-radius: 10px;
    text-align: center;
    width: 175px;
    outline: none;
}

#questionDisplay{
    width:90%;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-left: 5px solid #04AA6D;
    border-bottom: 1px solid #04AA6D;
    border-top: 1px solid #04AA6D;
    border-right: 5px solid #04AA6D;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    height: 25px;
    vertical-align: center;
    display: none;
}

#startButton{
    margin: auto;
    background-color: #04AA6D;
    color: white;
    border:0px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 175px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#optionButton1, #optionButton2{
    margin:5px;
    background-color: #04AA6D;
    color: white;
    border:0px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 45%;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s ease;

}

#optionButton1:hover{ 
    background-color: #199668;
}

#optionButton2:hover{ 
    background-color: #199668;
}

#startButton:hover{ 
    background-color: #199668;
}

#scoreDisplay{
    background-color: #04AA6D;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding-top: 10px;
    border-radius: 10px;
    border-left: 0px solid green;
    overflow: hidden;
    margin-bottom: 25px;
}

#section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border:0px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

#leaderboard {
    margin: 15px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    border:1px solid #E7E9EB;
    border-radius: 5px;
}

#leaderboard thead th {
    background-color: #04AA6D;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid #E7E9EB; 
}

#leaderboard tbody td {
    padding: 8px 10px;
    border-bottom: 1px solid #E7E9EB;
    color: black;
    vertical-align: middle;
    height:50px;
}

#leaderboard tr:last-child td {
    border-bottom: none;
}

#resetQuizButton{
    background-color: #04AA6D;
    color: white;
    border:0px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    display: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .project-box {
        width: 90%;
    }
}