@page "/"


<PageTitle>Home</PageTitle>




<div class="m-0 p-0">
	<Destinations />
</div>

<section class="container py-5">
    <div class="row align-items-center">

        <!-- Left Text Column -->
        <div class="col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
            <h3 class="text-warning fw-bold">Gotorz</h3>
            <h4 class="fw-bold display-5 mb-3">Let's Start Adventures</h4>
            <p class="text-muted">
                We at Gotorz give you, besides the travel experience, the pleasure of adventure and discovering new and enjoyable tourist destinations. Life is short and the world is very wide, the sooner you start to discover it, the better. Gotorz has made achieving happiness and travel easy and convenient in addition to being cheap and accessible to everyone. Cheap prices with high services, this equation that we succeeded in achieving, and left a large imprint in the world of the travel industry.
            </p>
            <p class="text-muted">
                Traveling is a culture, and it gives you money that a book or even a library would not give you, because it is a real and direct contact with life, with beauty, and with the other, consciously or unconsciously. Traveling is a great awareness that seeps so deep that it captures all of your consciousness. During travel, you may remain silent for a long time, but it later makes you a storyteller. The value of seeing once is hundreds of times better than hearing, so do not hear about what they say on travel, but go and see for yourself.
            </p>
        </div>

        <!-- Right Image Column -->
        <div class="col-lg-6 text-center">
            <img src="images/travel.png" alt="Traveler" class="img-fluid" />
        </div>
    </div>
</section>


<div id="search">
	<Search />
</div>


<TeamMembers />


